<!DOCTYPE html>
<html>
  <head>
    <title>specter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
      <link rel="stylesheet" href="/styles/globalStyles.css">

  </head>

  <body>

      <div class="continer-fluid">
          <div class="row-fluid">
              <input type="text" placeholder="Search" class="span12" id="searchBox" data-bind="value:searchText,valueUpdate:'afterkeydown',event:{'keydown':keydown}">
                        </div>
          <div class="row-fluid">
            <div class="span10 offset1">
              <ul class="unstyled" id="results" style="display:none;" data-bind="visible:true">
                   <!-- ko foreach: searchResults -->
                  <li><p><span><a data-bind="attr:{href:_id},text:fields.title"></a></span> <span class="muted" style="font-size:17px;" data-bind="text:fields.wordCount +' '+ 'words'"></span></p></li>
                  <!-- /ko -->
              </ul>
</div>
          </div>
      </div>
	  <hr>
      <div class="container-fluid">
          {{#hits}}

          <div class="row-fluid">
              <div class="offset2 span6">
				  {{#fields.imgSrc}} <p><img src ="{{fields.imgSrc}}"></p>{{/fields.imgSrc}}
                 <h1 class="postHeading"><a href="/{{_id}}">{{fields.title}}</a></h1> <ul class="muted inline" ><li>{{fields.wordCount}} words</li> <li>{{fields.postedOn}}</li></ul><div>{{{fields.postHtml}}}</div><hr>



              </div>
          </div>

          {{/hits}}
		  <ul class="pager">
			  {{#hasPrevious}}
			  {{^isFirstPage}}
  				<li><a href="/page/{{hasPrevious}}">Previous</a></li>
			  {{/isFirstPage}}
			  {{/hasPrevious}}
			   {{^hasPrevious}}
  				<li><span class="disabled"><a href="/">Previous</a></span></li>
			  {{/hasPrevious}}
			  {{#isFirstPage}}
  				<li><a href="/">Previous</a></li>
			  {{/isFirstPage}}
			  {{#hasNext}}
  				<li><a href="/page/{{hasNext}}">Next</a></li>
			  {{/hasNext}}
			  {{^hasNext}}
  				<li><span class="disabled"><a href="#">Next</a></span></li>
			  {{/hasNext}}
		  		</ul>
      </div>
	  <hr>
      <script src="http://code.jquery.com/jquery.js"></script>
      <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-2.2.1.js"></script>
      <script type="text/javascript" src="/javascripts/search.min.js"></script>

  </body>
</html>
