[contenteditable="true"]{outline:none;}

#editContainer,#drafts,#subNav{
  margin-top: 20px;

}

#title{
  margin-bottom: 20px;
  border:none;
  border-bottom: 1px solid whitesmoke;
  font-weight:bold;
  box-shadow:none;
  outline:none;
  font-size:17px;
}

body,textarea,li{
  font-size: 17px;
  line-height: 25px;
}

#previewContainer{
  display:none;
}

.previewFeedBack li,.editMenus li{

  font-size: 14px;
}

.hiddenElement{

  display:none;
}

.subNav,.draftList,.saveStatus,.subNav li{

  letter-spacing:2px;
  font-size: 12px;

}

.draftListItems{

  cursor: pointer;

}

blockquote p {
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 25px;
}

textarea,textarea:focus{

  border:none;
  box-shadow:none;
  resize: none;
  outline:none;
}

li{
  margin: 0 0 5px 0 ;
}
