 [contenteditable="true"]{outline:none;}

#editContainer,#drafts,#subNav{
    margin-top: 20px;
    
}

#title{
    margin-bottom: 20px;
    border:none;
    border-bottom: 1px solid whitesmoke;
    font-weight:bold;
    box-shadow:none;
    outline:none;
    font-size:17px;
}

body,textarea,li{
    font-size: 17px;
    line-height: 25px;
}

#previewContainer{
    display:none;
}

.previewFeedBack{
    
    font-size: 12px;
}

.hiddenElement{
    
    display:none;
}

.subNav,.draftList,.saveStatus,.subNav li{
    
    letter-spacing:2px;
    font-size: 12px;
    
}

.draftListItems{
    
    cursor: pointer;
       
}

blockquote p {
margin-bottom: 0;
font-size: 17px;
font-weight: 300;
line-height: 25px;
font-style:italic;
}

textarea,textarea:focus{
    
    border:none;
    box-shadow:none;
    resize: none;
    outline:none;
}

figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
    left: 0; bottom: -30%;
}

figcaption { 
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 

  opacity: 0;
  bottom: 0; 
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
    left: 0; bottom: -30%;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
    bottom:0;
}

figure:before { 
  content: "?"; 
  position: absolute; 
  background: rgba(255,255,255,0.75); 
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  /* Only Fx 4 supporting transitions on psuedo elements so far... */
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  opacity: 0.75;
    bottom: 10px; left: 10px; 
}
figure:hover:before {
  opacity: 0;
}