#searchBox{
    
    border:none;
    outline:none;
    font-size:25px;
    box-shadow: none;
    text-align:center;
    margin-top:10px;
}

#results li {

font-size:20px;    
text-align:center;
line-height:28px;
}

figure{
	margin: 0px;
}
figcaption{
	
	font-style:italic;
	text-align:center;
	padding:2px;
}

