#searchBox{
    
    border:none;
    outline:none;
    font-size:25px;
    box-shadow: none;
    text-align:center;
    margin-top:10px;
}
#results{
    background-color: white;   
}
#results li {
    
border-bottom: 2px solid #e5eae4;
font-size:20px;
margin:20px 0;
 text-align:center;
line-height:28px;
}

figure { 
  display: block; 
  position: relative; 
  overflow: hidden; 
    left: 0; bottom: -30%;
}

figcaption { 
  position: absolute; 
  background: rgba(0,0,0,0.75); 
  color: white; 
  padding: 10px 20px; 

  opacity: 0;
  bottom: 0; 
  left: -30%;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
    left: 0; bottom: -30%;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
    bottom:0;
}

figure:before { 
  content: "?"; 
  position: absolute; 
  background: rgba(255,255,255,0.75); 
  color: black;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  /* Only Fx 4 supporting transitions on psuedo elements so far... */
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  opacity: 0.75;
    bottom: 10px; left: 10px; 
}
figure:hover:before {
  opacity: 0;
}

.postHeading{
    font-size: 20px;
line-height: 28px;
}

.postBody{
    font-size: 17px;
line-height: 25px;
}

blockquote p {
margin-bottom: 0;
font-size: 17px;
font-weight: 300;
line-height: 25px;
font-style: italic;
}
.postBody img{
    max-width: none;
};