html {
  font-size: 100%;
}

body {
  font-family: 'Open Sans', arial, sans-serif;
}

p {
}

h1 {
  margin: 0;
  font-size: 4em;
}

h2 {
  margin: 0;
  font-size: 3em;
}

hr {
  border: 0;
  width: 35%;
  margin-left: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  border: 0;
  background-color: #BFBDBD;
  border:solid 1px #BFBDBD;
  margin-bottom: 2%;
  /*color: #979797;*/
  height: 28px;
  padding-left:10px;
  width: 191px;
  text-align: center;
}

a {
  color: #000;
  text-decoration: underline;
}

.container-fluid {
  margin: 0 0;
  width: 80%;
}

.row-fluid {
  margin: 0 auto;
  /*text-align: center;*/
}

.postHeading {
  font-size: 2em;
}

.postDate {
  font-size: 0.5em;
}

.postAuthor {
  font-size: 0.5em;
  opacity: 0.5;
}

.tags {
  opacity: 0.5;
}

.pager {
  margin-top: 5%;
}

.disabled {
  display: none;
}

.tags a {
  text-decoration: none;
}
