#searchBox{
    
    border:none;
    outline:none;
    font-size:25px;
    box-shadow: none;
    text-align:center;
    margin-top:10px;
}

#results li {

font-size:20px;    
text-align:center;
line-height:28px;
}



.postHeading{
font-size: 20px;
line-height: 28px;
}

