<!DOCTYPE html>
<html>
    
    <head>
        {{^title}}<title>create new post</title>{{/title}}
        {{#title}} <title>Update {{title}}</title>{{/title}}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="/styles/abstract.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="container-fluid">
           
            <div class="row-fluid" id="subNav">
                <div class="span12">
                    <ul class="muted inline unstyled pull-right subNav">
                        <li><a href="#" id="createNew" data-bind="click:newDraft">NEW</a>
                        </li>
                        <li><a href="#" id="renderSavedDrafts" data-bind="click : showDrafts">DRAFTS</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
<span id="saveStatus" style="margin-top:10px;" class="text-success hiddenElement saveStatus">Draft saved</span>

                </div>
            </div>
            <div class="row-fluid" id="editContainer">
                <div class="span12" style="display:none;" data-bind="visible:true">
                    <input type="text" id="title" data-bind="visible:showTitle(),click:editTitle,event:{focusout:showPreview}" class="span12" placeholder="The title of the draft goes here" autocomplete="off" value="{{title}}">
                    <textarea class="span12" id="editArea" data-bind="visible:showEditor(),event:{focusout:showPreview}" placeholder="The body of your draft. You can use markdown."></textarea>
                </div>
            </div>
            <div class="row-fluid hiddenElement" id="previewContainer" data-bind="click : hidePreview">
                <div class="span12">
                    <div class="span12" id="previewPane">{{{post}}}</div>
                    <ul class="unstyled inline muted previewFeedback">
                        <li>preview</li>
                        <li id="wordCount"></li>
                        <li><a href="#" id="rawHtml" data-bind="visible:raw,click: rawHtml">raw</a><a href="#" id="plain" data-bind="visible:!raw(),click:plain">plain</a>
                        </li>
                        
                    </ul>
                    
            <p>
                <input class="span4" type="password" placeholder="enter secret" data-bind="value:secret,click:editingSecret,valueUpdate:'afterkeydown' " id="secret" ></p> 
                <p>
                    {{^post}}
                    <button class="btn btn-success" data-bind="enable:hasProvidedSecret,click:publishArticle">publish</button>
                    {{/post}}
                    {{#post}}
                    <button class="btn btn-success" data-bind="enable:hasProvidedSecret,click:updateArticle" data-postedby="{{postedBy}}" data-id = {{id}} data-postedOn = "{{postedOn}}" id="update">Update</button>
                    {{/post}}
                    </p>    
                </div>
            </div>
        </div>
        <div class="container-fluid hiddenElement" id="drafts">
            <div class="row-fluid">
                <div class="span12">
                    
                    <ol id="draftList" data-bind="foreach:drafts">
                        <li data-bind="attr:{'data-title':title},click: $parent.editDraft" class='draftListItems'>
                            <div>
<span data-bind="text:title"></span> 
<span class='muted draftList' data-bind="text:'(' +date+')'"> </span>

                            </div>
                            <div class='muted draftList'>
<span data-bind="text:count"></span>

<span data-bind="if:plural">words</span>

<span data-bind="if:!plural">word</span>

<a href='#' class='text-error' data-bind="click: $parent.deleteDraft">Delete</a>

                            </div>
                        </li>
                        <hr>
                    </ol>
                    
                </div>
            </div>
        </div>
	
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-2.2.1.js"></script>
        <script src="/javascripts/Abstract/index.min.js"></script>
        <script type="text/javascript">
			$(function(){
				
				var options = {
					
	link_list:  false,    // render links as references, create link list as appendix
	h1_setext:  false,     // underline h1 headers
	h2_setext:  false,     // underline h2 headers
	h_atx_suf:  true,    // header suffixes (###)
	gfm_code:   true,    // gfm code blocks (```)
	li_bullet:  "*",      // list item bullet style
	hr_char:    "-",      // hr style
	indnt_str:  "    ",   // indentation string
	bold_char:  "*",      // char used for strong
	emph_char:  "_",      // char used for em
	gfm_del:    true,     // ~~strikeout~~ for <del>strikeout</del>
	gfm_tbls:   true,     // markdown-extra tables
	tbl_edges:  false,    // show side edges on tables
	hash_lnks:  true,    // anchors w/hash hrefs as links
	br_only:    false,    // avoid using "  " as line break indicator
};
	
	var reMarker = new reMarked(options);
	
	var markdown = reMarker.render($('#previewPane').html());				
				
	$("#editArea").val(markdown).trigger('autosize');
	
				
			});
		</script>
    </body>

</html>