<!DOCTYPE html>
<html>
    
    <head>
        <title>Abstract</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/globalStyles.css" rel="stylesheet">
    </head>
    
    <body>
        <div class="container-fluid">
            <a href="https://github.com/brislink/Abstract" target="_blank" style="text-decoration:none;">
<i class="icon-github icon-2x"></i>

            </a>
            <div class="row-fluid" id="subNav">
                <div class="span12">
                    <ul class="muted inline unstyled pull-right subNav">
                        <li><a href="#" id="createNew" data-bind="click:newDraft">NEW</a>
                        </li>
                        <li><a href="#" id="renderSavedDrafts" data-bind="click : showDrafts">DRAFTS</a>
                        </li>
                        <li><a href="http://www.brislink.com/" target="_blank">BRISLINK</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
<span id="saveStatus" style="margin-top:10px;" class="text-success hiddenElement saveStatus">Draft saved</span>

                </div>
            </div>
            <div class="row-fluid" id="editContainer">
                <div class="span12">
                    <input type="text" id="title" data-bind="visible:showTitle()" class="span12" placeholder="The title of the draft goes here" autocomplete="off">
                    <textarea class="span12" id="editArea" data-bind="visible:showEditor(),event:{focusout:showPreview}" placeholder="The body of your draft. You can use markdown. "></textarea>
                </div>
            </div>
            <div class="row-fluid hiddenElement" id="previewContainer" data-bind="click : hidePreview">
                <div class="span12">
                    <div class="span12" id="previewPane"></div>
                    <ul class="unstyled inline muted previewFeedback">
                        <li>preview</li>
                        <li id="wordCount"></li>
                        <li><a href="#" id="rawHtml" data-bind="visible:raw,click: rawHtml">raw</a><a href="#" id="plain" data-bind="visible:!raw(),click:plain">plain</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
        <div class="container-fluid hiddenElement" id="drafts">
            <div class="row-fluid">
                <div class="span12">
                    
                    <ol id="draftList" data-bind="foreach:drafts">
                        <li data-bind="attr:{'data-title':title},click: $parent.editDraft" class='draftListItems'>
                            <div>
<span data-bind="text:title"></span> 
<span class='muted draftList' data-bind="text:'(' +date+')'"> </span>

                            </div>
                            <div class='muted draftList'>
<span data-bind="text:count"></span>

<span data-bind="if:plural">words</span>

<span data-bind="if:!plural">word</span>

<a href='#' class='text-error' data-bind="click: $parent.deleteDraft">Delete</a>

                            </div>
                        </li>
                        <hr>
                    </ol>
                    
                </div>
            </div>
        </div>
        <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="http://knockoutjs.com/downloads/knockout-2.2.1.js"></script>
        <script src="javascript/index.min.js"></script>
        
    </body>

</html>